html {
    min-height: 100%;
    background: url("../images/pexels-dominika-roseclay-donuts.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center ;
    background-color: #ED91AD;
}

body {
    font-family: 'Roboto', sans-serif;
    background: none;
}

#error404 {
    margin-top: 6rem;
    text-align: center;
    background: none;
}

.navbar {
    background-color: #88553D;
    font-family: 'Fredoka One', cursive;
    padding-left: 1rem;
}

#jumboCarousel {
    margin-top: 4rem;
}

#jumboCarousel >.carousel-item {
    height: 80vh;
}
#jumboCarousel > .carousel-indicators > li {
    border-radius: 0rem;
    min-width: 5rem;
    background-color: #88553d;
    border: 0.25rem solid black;
}
#jumboCarousel > .carousel-indicators > .active {
    background-color: #ffe4c4;
}
#jumboCarousel .carousel-caption {
    color: black;
    text-align: center;
    align-self: center;
    max-width: 25rem;
    height: fit-content;
    background: rgba(255,228,196,0.7);
    padding: 2.5rem;
}
#jumboCarousel .carousel-caption a {
    color: black;
}

#jumboCarousel .carousel-caption .btn {
    color: white;
}

.btn {
    background-color: #88553D;
    color: white;
    border: #88553D;
}

.btn:hover {
    background-color: #88553D;
    color: white;
}

#placeOrder {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1 {
    background: none;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

i {
    font-size: 2rem; color: #88553d;
}

#features {
    background-color: white;
    padding: 3rem;
}

#googleMap {
    align-content: center;
    width: 20rem;
    height: 20rem;
}

footer {
    box-sizing: border-box;
    display: block;
    background-color: #ffe4c4;
    padding-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

footer i {
    font-size: 2.5rem; 
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer a:hover {
    text-decoration: none;
    color: #88553D;
    font-weight: bold;
}