html {
    min-height: 100%;
    background: url("../images/pexels-dominika-roseclay-donuts.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center ;
    background-color: #ED91AD;
}

body {
    font-family: 'Roboto', sans-serif;
    background: none;
}

.no-js #loader-wrapper {
    display: none;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #88553D;
}

#load-text {
    display: block;
    text-align: center;
    color: #F9FBFA;
    position: relative;
    top: 45vh;
}

#loader {
    display: block;
    position: relative;
    left: 40%;
    top: 50vh;
    width: 9.375rem;
    height: auto;
}

#loader img {
    position: relative;

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Loaded styles */
.loaded #loader-wrapper .loader-screen {
    transform: translateY(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); /* cubic beizer */
}
.loaded #loader {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    transform: scale(0.5);
}

.loaded #load-text {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

}
.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

/* Headings */
h1, h2 {
    background: rgba(255,228,196,0.3);
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

h3 {
    font-family: 'Fredoka One', cursive;
}

h1 {
    text-decoration: wavy underline overline #ED91AD;
}

h5 {
    text-align: center;
}

/* Hyperlinks */
a {
    color: black;
}

a:hover {
    color: #88553D;
}

/* Icons */
i {
    font-size: 2rem; color: #88553d;
}

/* Navigation bar */
.navbar {
    background-color: #88553D;
    font-family: 'Fredoka One', cursive;
    padding-left: 1rem;
}

/* 404 Page */
#error404 {
    margin-top: 6rem;
    text-align: center;
    background: none;
}

/* Carousel */
#jumboCarousel {
    margin-top: 4rem;
}

#jumboCarousel >.carousel-item {
    height: 80vh;
}
#jumboCarousel > .carousel-indicators > li {
    border-radius: 0rem;
    min-width: 5rem;
    background-color: #88553d;
    border: 0.25rem solid black;
}
#jumboCarousel > .carousel-indicators > .active {
    background-color: #ffe4c4;
}
#jumboCarousel .carousel-caption {
    color: black;
    text-align: center;
    align-self: center;
    max-width: 25rem;
    height: fit-content;
    background: rgba(255,228,196,0.7);
    padding: 2.5rem;
}

#jumboCarousel .carousel-caption .btn {
    color: white;
}

/* CTA Button */
.btn {
    background-color: #88553D;
    color: white;
    border: #88553D;
    border-radius: 2rem;
}

.btn:hover {
    background-color: #88553D;
    color: white;
}

#placeOrder {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}


/* Menu */
#menuGrid {
    margin: 2rem 4rem ;
}

/* About */
#aboutUs {
    background-color: #F9FBFA;
    text-align: center;
    overflow: hidden;
}

#aboutImg {
    width: 25rem;
    height: auto;
}

#aboutImg img {
    object-fit: scale-down;
}

#aboutText {
    padding: 0rem 5rem;
}

#features {
    background-color: #F9FBFA;
    padding: 3rem;
}

/* Footer */
footer {
    box-sizing: border-box;
    display: block;
    background-color: #ffe4c4;
    padding-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

footer i {
    font-size: 2.5rem; 
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer a:hover {
    text-decoration: none;
    color: #88553D;
    font-weight: bold;
}