body {
    background-image: url("../images/pexels-dominika-roseclay-donuts.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #ED91AD;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #88553D;
    font-family: 'Fredoka One', cursive;
    padding-left: 1rem;
}

#navbarSupportedContent {
    justify-content: right;
}

footer {
    box-sizing: border-box;
    display: block;
    background-color: #ffe4c4;
    padding-left: 2rem;
}